#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import urllib.request
from PIL import Image

## Data

In [2]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv(r'C:\Users\horta\Desktop\trainsabado.csv')

## Data exploration

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73363 entries, 0 to 73362
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Id                                    73363 non-null  int64
 1   target                                73363 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  73363 non-null  float64
 3   age                                   73363 non-null  object
 4   NumberOfTime30-59DaysPastDueNotWorse  73363 non-null  int64
 5   DebtRatio                             73363 non-null  float64
 6   MonthlyIncome                         58796 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       73363 non-null  int64
 8   NumberOfTimes90DaysLate               73363 non-null  int64
 9   NumberRealEstateLoansOrLines          73363 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  73363 non-null  int64
 11  NumberOfDependents                    71421 non-null  float64
dtypes: float64(4), int64(7), object(1)
memory usage: 6.7+ MB

In [5]:
train.head()

,Id,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,44164,0,0.768219,68y,1,0.687930,2178.0,12,0,1,0,0.0
1,95356,0,0.289873,52y,0,0.385497,3750.0,16,0,1,0,1.0
2,108917,0,0.000000,54y,0,0.346503,6833.0,8,0,1,0,0.0
3,99039,0,0.046064,66y,1,0.407614,5200.0,6,0,1,0,1.0
4,116168,0,0.168771,45y,0,4702.000000,NaN,10,0,3,0,1.0

## Data processing

In [6]:
# Asegúrate de que la columna 'age' es de tipo string
train['age'] = train['age'].astype(str)

# Elimina la 'y' al final de la columna 'age' y convierte el resultado a un número entero
train['age'] = train['age'].str.rstrip('y').astype('int')

In [7]:
train.head(20)

,Id,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,44164,0,0.768219,68,1,0.687930,2178.0,12,0,1,0,0.0
1,95356,0,0.289873,52,0,0.385497,3750.0,16,0,1,0,1.0
2,108917,0,0.000000,54,0,0.346503,6833.0,8,0,1,0,0.0
3,99039,0,0.046064,66,1,0.407614,5200.0,6,0,1,0,1.0
4,116168,0,0.168771,45,0,4702.000000,NaN,10,0,3,0,1.0
5,80810,0,0.047661,73,0,0.007664,3000.0,4,0,0,0,0.0
6,93155,0,0.061963,45,0,2501.000000,NaN,12,0,1,0,2.0
7,91255,0,0.997422,63,0,0.413049,3800.0,7,0,1,0,0.0
8,72678,1,0.059577,56,3,0.667954,4658.0,16,0,3,0,0.0
9,92911,0,0.911480,44,1,0.448231,7716.0,9,0,2,0,1.0
10,11619,0,0.397704,70,1,3012.000000,NaN,12,0,1,0,0.0
11,27100,0,0.082861,48,0,0.014225,2600.0,2,0,0,0,0.0
12,84087,0,0.173791,40,0,0.096759,6200.0,2,0,0,0,4.0
13,112431,0,0.019582,39,0,0.369013,2400.0,11,0,1,0,3.0
14,39857,0,0.165724,59,1,0.371630,7084.0,12,0,1,1,2.0
15,9019,0,1.000000,29,0,0.314842,2054.0,2,0,1,0,0.0
16,88074,0,0.036310,50,0,0.514693,3300.0,6,0,1,0,0.0
17,138396,0,0.376024,49,0,0.282366,9600.0,6,0,2,0,2.0
18,123018,0,0.102411,71,0,309.000000,NaN,11,0,0,0,1.0
19,59851,0,0.631909,53,6,0.202120,9998.0,10,2,0,0,0.0

In [8]:
print(train['age'].dtypes)

int32

In [9]:
# Reemplazar los valores nulos en 'MonthlyIncome' con el promedio
train['MonthlyIncome'].fillna(train['MonthlyIncome'].mean(), inplace=True)

In [10]:
# Eliminar la columna 'Id' in situ
train.drop('Id', axis=1, inplace=True)

In [11]:
train.head()

,target,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,0.768219,68,1,0.687930,2178.00000,12,0,1,0,0.0
1,0,0.289873,52,0,0.385497,3750.00000,16,0,1,0,1.0
2,0,0.000000,54,0,0.346503,6833.00000,8,0,1,0,0.0
3,0,0.046064,66,1,0.407614,5200.00000,6,0,1,0,1.0
4,0,0.168771,45,0,4702.000000,6649.14467,10,0,3,0,1.0

In [12]:
print(train['NumberOfDependents'].isnull().sum())

1942

In [13]:
print(train.shape[0])

73363

In [14]:
train['NumberOfDependents'].fillna(0, inplace=True)

In [15]:
train['TotalTimesPastDue'] = train['NumberOfTime30-59DaysPastDueNotWorse'] + train['NumberOfTimes90DaysLate'] + train['NumberOfTime60-89DaysPastDueNotWorse']

In [16]:
train.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse', 'NumberOfTimes90DaysLate', 'NumberOfTime60-89DaysPastDueNotWorse'], inplace=True)

In [17]:
train.head()

,target,RevolvingUtilizationOfUnsecuredLines,age,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfDependents,TotalTimesPastDue
0,0,0.768219,68,0.687930,2178.00000,12,1,0.0,1
1,0,0.289873,52,0.385497,3750.00000,16,1,1.0,0
2,0,0.000000,54,0.346503,6833.00000,8,1,0.0,0
3,0,0.046064,66,0.407614,5200.00000,6,1,1.0,1
4,0,0.168771,45,4702.000000,6649.14467,10,3,1.0,0

In [19]:
# Obtén la matriz de correlación
correlation_matrix = train.corr()

# Imprime la matriz de correlación
print(correlation_matrix)

                                        target
target                                1.000000  \
RevolvingUtilizationOfUnsecuredLines -0.000057
age                                  -0.113796
DebtRatio                            -0.007099
MonthlyIncome                        -0.024185
NumberOfOpenCreditLinesAndLoans      -0.025422
NumberRealEstateLoansOrLines         -0.001227
NumberOfDependents                    0.043808
TotalTimesPastDue                     0.108243

                                      RevolvingUtilizationOfUnsecuredLines
target                                                           -0.000057  \
RevolvingUtilizationOfUnsecuredLines                              1.000000
age                                                              -0.006383
DebtRatio                                                         0.004486
MonthlyIncome                                                     0.003873
NumberOfOpenCreditLinesAndLoans                                  -0.010799
NumberRealEstateLoansOrLines                                      0.003690
NumberOfDependents                                                0.002055
TotalTimesPastDue                                                -0.001064

                                           age  DebtRatio  MonthlyIncome
target                               -0.113796  -0.007099      -0.024185  \
RevolvingUtilizationOfUnsecuredLines -0.006383   0.004486       0.003873
age                                   1.000000   0.022131       0.040259
DebtRatio                             0.022131   1.000000      -0.006195
MonthlyIncome                         0.040259  -0.006195       1.000000
NumberOfOpenCreditLinesAndLoans       0.143650   0.042575       0.112973
NumberRealEstateLoansOrLines          0.029454   0.102741       0.161925
NumberOfDependents                   -0.219638  -0.035701       0.083547
TotalTimesPastDue                    -0.060580  -0.006206      -0.010437

                                      NumberOfOpenCreditLinesAndLoans
target                                                      -0.025422  \
RevolvingUtilizationOfUnsecuredLines                        -0.010799
age                                                          0.143650
DebtRatio                                                    0.042575
MonthlyIncome                                                0.112973
NumberOfOpenCreditLinesAndLoans                              1.000000
NumberRealEstateLoansOrLines                                 0.434817
NumberOfDependents                                           0.074584
TotalTimesPastDue                                           -0.066613

                                      NumberRealEstateLoansOrLines
target                                                   -0.001227  \
RevolvingUtilizationOfUnsecuredLines                      0.003690
age                                                       0.029454
DebtRatio                                                 0.102741
MonthlyIncome                                             0.161925
NumberOfOpenCreditLinesAndLoans                           0.434817
NumberRealEstateLoansOrLines                              1.000000
NumberOfDependents                                        0.130984
TotalTimesPastDue                                        -0.036576

                                      NumberOfDependents  TotalTimesPastDue
target                                          0.043808           0.108243
RevolvingUtilizationOfUnsecuredLines            0.002055          -0.001064
age                                            -0.219638          -0.060580
DebtRatio                                      -0.035701          -0.006206
MonthlyIncome                                   0.083547          -0.010437
NumberOfOpenCreditLinesAndLoans                 0.074584          -0.066613
NumberRealEstateLoansOrLines                    0.130984          -0.036576
NumberOfDependents                              1.000000          -0.012108
TotalTimesPastDue                              -0.012108           1.000000

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [20]:
X = train.drop('target', axis=1)  
y = train['target']

### 2. Dividir X_train, X_test, y_train, y_test

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

### 3. Asignar el modelo (vacío) a una variable

In [23]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de AUC.

In [24]:
model.fit(X_train, y_train)

C:\Users\horta\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

In [26]:
train = pd.read_csv(r'C:\Users\horta\Desktop\trainsabado.csv')

In [28]:
# Asegúrate de que la columna 'age' es de tipo string
train['age'] = train['age'].astype(str)

# Elimina la 'y' al final de la columna 'age' y convierte el resultado a un número entero
train['age'] = train['age'].str.rstrip('y').astype('int')

In [29]:
train['MonthlyIncome'].fillna(train['MonthlyIncome'].mean(), inplace=True)

In [30]:
train.drop('Id', axis=1, inplace=True)

In [31]:
print(train['NumberOfDependents'].isnull().sum())

1942

In [32]:
train['NumberOfDependents'].fillna(0, inplace=True)

In [33]:
train['TotalTimesPastDue'] = train['NumberOfTime30-59DaysPastDueNotWorse'] + train['NumberOfTimes90DaysLate'] + train['NumberOfTime60-89DaysPastDueNotWorse']

In [34]:
train.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse', 'NumberOfTimes90DaysLate', 'NumberOfTime60-89DaysPastDueNotWorse'], inplace=True)

### 2. Carga los datos de `test.csv` para predecir.

In [51]:
X_pred = pd.read_csv("data/test.csv")
X_pred.head()

,Id,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,15576,0.051782,53y,0,0.009350,2245.0,3,0,0,0,0.0
1,94308,0.022133,57y,0,0.319562,7672.0,26,0,1,0,2.0
2,53983,0.013693,68y,0,0.139237,4064.0,4,0,0,0,1.0
3,61359,0.018568,74y,0,0.018760,10500.0,27,0,0,0,0.0
4,71383,0.008630,66y,0,9.000000,NaN,5,0,0,0,0.0

In [54]:
# Asegúrate de que la columna 'age' es de tipo string
X_pred['age'] = X_pred['age'].astype(str)

# Elimina la 'y' al final de la columna 'age' y convierte el resultado a un número entero
X_pred['age'] = X_pred['age'].str.rstrip('y').astype('int')

# Rellena los valores nulos de 'MonthlyIncome' con la media
X_pred['MonthlyIncome'].fillna(X_pred['MonthlyIncome'].mean(), inplace=True)

# Eliminar la columna 'Id' in situ
X_pred.drop('Id', axis=1, inplace=True)

# Rellena los valores nulos de 'NumberOfDependents' con 0
X_pred['NumberOfDependents'].fillna(0, inplace=True)

# Crear la columna 'TotalTimesPastDue'
X_pred['TotalTimesPastDue'] = X_pred['NumberOfTime30-59DaysPastDueNotWorse'] + X_pred['NumberOfTimes90DaysLate'] + X_pred['NumberOfTime60-89DaysPastDueNotWorse']

# Elimina las columnas 'NumberOfTime30-59DaysPastDueNotWorse', 'NumberOfTimes90DaysLate', 'NumberOfTime60-89DaysPastDueNotWorse'
X_pred.drop(columns=['NumberOfTime30-59DaysPastDueNotWorse', 'NumberOfTimes90DaysLate', 'NumberOfTime60-89DaysPastDueNotWorse'], inplace=True)

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [37]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [38]:
sample = pd.read_csv("data/sample_submission.csv")

In [39]:
sample.head()

      Id  target
0  15576       0
1  94308       1
2  53983       1
3  61359       1
4  71383       0

In [40]:
sample.shape

(31442, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [55]:
submission = pd.DataFrame({"Id": sample['Id'], "target": predictions_submit})

In [56]:
submission.head()

      Id  target
0  15576       0
1  94308       0
2  53983       0
3  61359       0
4  71383       0

In [57]:
submission.shape

(31442, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [58]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.Id.all() == sample.Id.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [59]:
chequeator(submission)

You're ready to submit!