#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [218]:
import pandas as pd

import urllib.request
from PIL import Image

## Data

In [221]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("data/train.csv")

## Data exploration

In [222]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         912 non-null    int64
 1   Company           912 non-null    object
 2   Product           912 non-null    object
 3   TypeName          912 non-null    object
 4   Inches            912 non-null    float64
 5   ScreenResolution  912 non-null    object
 6   Cpu               912 non-null    object
 7   Ram               912 non-null    object
 8   Memory            912 non-null    object
 9   Gpu               912 non-null    object
 10  OpSys             912 non-null    object
 11  Weight            912 non-null    object
 12  Price_euros       912 non-null    float64
dtypes: float64(2), int64(1), object(10)
memory usage: 92.8+ KB

In [223]:
train.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1104,Acer,Aspire ES1-523,Notebook,15.6,1366x768,AMD A8-Series 7410 2.2GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.4kg,387.0
1,114,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7560U 2.4GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,Windows 10,1.23kg,1379.0
2,172,Acer,Aspire A517-51G,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Nvidia GeForce MX150,Windows 10,3kg,854.0
3,918,HP,Elitebook 820,Netbook,12.5,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,512GB SSD,Intel HD Graphics 620,Windows 10,1.26kg,1483.0
4,447,Lenovo,IdeaPad 320-15AST,Notebook,17.3,1600x900,AMD A6-Series 9220 2.5GHz,8GB,1TB HDD,AMD Radeon R4,Windows 10,2.8kg,519.0

## Data processing

In [228]:

ordenador = ["Ram", "Weight", "Price_euros"]
df = train[ordenador]

In [229]:
df.dropna(inplace=True)

C:\Users\horta\AppData\Local\Temp\ipykernel_1360\658506679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [230]:
import re
df['Ram'] = df['Ram'].apply(lambda x: re.sub(r'\D+', '', x) if isinstance(x, str) else x)
df['Ram'] = pd.to_numeric(df['Ram'])

C:\Users\horta\AppData\Local\Temp\ipykernel_1360\3402529933.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = df['Ram'].apply(lambda x: re.sub(r'\D+', '', x) if isinstance(x, str) else x)
C:\Users\horta\AppData\Local\Temp\ipykernel_1360\3402529933.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ram'] = pd.to_numeric(df['Ram'])

In [227]:

df['OpSys'] = df['OpSys'].str.lower()

df['OpSys'] = df['OpSys'].replace({'mac os x': 'macos', 'windows 7': 'windows 10'})

df['OpSys'] = df['OpSys'].astype('category')

KeyError: 'OpSys'

In [231]:
df["Weight"]=df.Weight.str.replace("[^0-9]","",regex=True)

C:\Users\horta\AppData\Local\Temp\ipykernel_1360\3873500035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Weight"]=df.Weight.str.replace("[^0-9]","",regex=True)

In [232]:
df.head()

   Ram Weight  Price_euros
0    4     24        387.0
1    8    123       1379.0
2    8      3        854.0
3    8    126       1483.0
4    8     28        519.0

In [233]:
df['Weight'] = pd.to_numeric(df['Weight'], errors='coerce')

df['Weight'] = df['Weight'].apply(lambda x: x/1000 if x > 1000 else x)

C:\Users\horta\AppData\Local\Temp\ipykernel_1360\3946339263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight'] = pd.to_numeric(df['Weight'], errors='coerce')
C:\Users\horta\AppData\Local\Temp\ipykernel_1360\3946339263.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight'] = df['Weight'].apply(lambda x: x/1000 if x > 1000 else x)

In [234]:
df['Weight'].head()

0     24.0
1    123.0
2      3.0
3    126.0
4     28.0
Name: Weight, dtype: float64

In [235]:
df['Price_euros'] = df['Price_euros'].astype(float)

C:\Users\horta\AppData\Local\Temp\ipykernel_1360\2596229545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price_euros'] = df['Price_euros'].astype(float)

In [236]:
df.head()

   Ram  Weight  Price_euros
0    4    24.0        387.0
1    8   123.0       1379.0
2    8     3.0        854.0
3    8   126.0       1483.0
4    8    28.0        519.0

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [238]:
X = df[['Ram', 'Weight']]
y = df['Price_euros']

In [239]:
X.head()

   Ram  Weight
0    4    24.0
1    8   123.0
2    8     3.0
3    8   126.0
4    8    28.0

### 2. Dividir X_train, X_test, y_train, y_test

In [240]:
from sklearn.model_selection import train_test_split

In [241]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [242]:
X_train

     Ram  Weight
25     4    23.0
84    16   272.0
10    16    25.0
342    8   190.0
890   16   129.0
..   ...     ...
106    8     2.0
270   16    25.0
860    4    28.0
435    6    23.0
102    4    21.0

[729 rows x 2 columns]

### 3. Asignar el modelo (vacío) a una variable

In [243]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [244]:
model.fit(X_train,y_train)

LinearRegression()

In [246]:
pred = model. predict(X_test)

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [247]:
from sklearn.metrics import mean_squared_error
import numpy as np
print("RMSE: ", np.sqrt(mean_squared_error(y_test, pred)))

RMSE:  486.585822878403

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

In [ ]:
#No entiendo muy bien esta parte

### 2. Carga los datos de `test.csv` para predecir.

In [274]:
X_pred = pd.read_csv("data/test.csv")
X_pred.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
0,750,Toshiba,Tecra X40-D-10G,Notebook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.25kg
1,726,Mediacom,Smartbook 142,Notebook,14.0,IPS Panel Full HD 1920x1200,Intel Atom Z8350 1.92GHz,4GB,32GB HDD,Intel HD Graphics 400,Windows 10,1.4kg
2,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2GB,32GB Flash Storage,Intel HD Graphics,Windows 10,1.4kg
3,363,Dell,Inspiron 7577,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.65kg
4,319,Asus,VivoBook Flip,2 in 1 Convertible,11.6,Touchscreen 1366x768,Intel Celeron Dual Core N3350 1.1GHz,2GB,32GB Flash Storage,Intel HD Graphics 500,Windows 10,1.1kg

In [275]:
X_pred.dropna(inplace=True)

In [276]:
import re
X_pred['Ram'] = X_pred['Ram'].apply(lambda x: re.sub(r'\D+', '', x) if isinstance(x, str) else x)
X_pred['Ram'] = pd.to_numeric(X_pred['Ram'])

In [277]:
X_pred["Weight"]=X_pred.Weight.str.replace("[^0-9]","",regex=True)

In [278]:

X_pred['Weight'] = X_pred['Weight'].str.replace("[^0-9]", "", regex=True)
X_pred['Weight'] = pd.to_numeric(X_pred['Weight'], errors='coerce')
X_pred['Weight'] = X_pred['Weight'].apply(lambda x: x/1000 if x > 1000 else x)

In [279]:
X_pred =X_pred[["Ram", "Weight"]]

In [280]:
X_pred.columns

Index(['Ram', 'Weight'], dtype='object')

In [281]:
X_pred.shape

(391, 2)

**¿Por qué da error?**

In [282]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1092.02150804,  623.87862076,  417.84522111, 1162.74810553,
        416.32965117,  627.92014061,  617.81634097, 2015.17234309,
       1865.13091843, 1041.50250984, 1122.83809695, 1111.21872736,
       1040.49212988, 1039.9869399 ,  713.29724757, 1121.82771698,
       1090.00074812, 1951.51840535,  627.92014061, 1039.9869399 ,
       1037.46098999, 1164.76886545,  732.49446689, 1125.36404686,
        710.77129766, 1087.97998819,  933.47596671, 1043.01807979,
        627.92014061, 1041.50250984, 1130.92113666, 1029.88314026,
        834.96392022, 1040.99731986, 1038.97655993, 1081.9177084 ,
       1038.97655993, 1036.9558    , 1126.8796168 , 1921.71219641,
       1874.72952809, 1041.50250984,  690.0585084 , 1098.08378783,
       1039.48174991, 2001.53221357, 1152.64430589, 1854.52192881,
       1161.73772556, 1992.94398388,  733.50484685,  730.47370696,
       1142.03531626, 1123.84847691,  627.92014061,  719.86471734,
       1040.99731986,  679.95470876, 1096.56821788, 1036.45061002,
        627.92014061, 1042.00769982, 1040.49212988,  628.93052058,
       1136.98341644, 1045.03883972, 1864.62572845, 2022.24500283,
       1139.00417637,  719.86471734,  626.40457067, 1098.08378783,
       3724.56752804, 1928.27966618, 1040.49212988, 1039.48174991,
        627.92014061, 1945.45612557, 1131.93151662, 1040.99731986,
        729.96851698, 1452.05373918, 1103.64087763, 1874.2243381 ,
       1166.78962538, 1148.60278603, 1034.93504008, 1036.9558    ,
        627.41495063, 1043.01807979, 1096.56821788, 1039.9869399 ,
        617.81634097, 1914.63953667, 1038.47136995, 1037.96617997,
       1131.93151662,  710.77129766,  626.40457067,  627.41495063,
       1129.40556671, 1038.47136995, 1132.43670661,  626.40457067,
       2017.19310301,  726.93737709, 1864.62572845, 1038.47136995,
       1865.63610841, 1123.84847691, 1097.57859785,  651.66406977,
       1097.57859785, 1867.65686834, 1104.14606761, 1098.08378783,
       1098.08378783, 2895.88721964,  711.27648765, 1098.08378783,
        932.97077673, 1037.46098999, 1874.72952809, 1034.42985009,
        726.93737709, 1131.93151662,  617.81634097,  674.90280894,
        680.45989874, 1035.44023006,  627.41495063, 1039.9869399 ,
       1040.99731986,  753.71244613,  651.66406977, 1859.06863864,
       1859.57382863, 1975.76752449, 1939.39384578, 1117.28100714,
       1036.9558    , 1040.49212988,  720.36990732, 2015.17234309,
       1962.63258496,  627.92014061, 2076.30033091, 1040.99731986,
       1040.49212988, 1121.82771698, 1972.23119461, 1030.18170754,
       1090.00074812,  494.1289084 , 1935.35232593, 1039.9869399 ,
       1098.58897781,  628.93052058, 1034.42985009, 1549.55540571,
       3677.58485972, 1039.9869399 , 1148.09759605,  726.93737709,
       1122.83809695, 3524.51229517, 1034.42985009, 1040.99731986,
        679.95470876, 1029.88314026,  712.79205759,  834.45873024,
        834.96392022,  710.26610768, 1869.17243828,  617.81634097,
       1042.51288981, 1035.94542004, 1096.56821788,  622.86824079,
       1148.09759605, 1865.63610841, 1040.49212988, 1039.9869399 ,
       1044.02845975, 1040.49212988,  622.86824079,  629.94090054,
        624.38381074, 1038.97655993, 1037.46098999,  628.42533059,
        685.00660858,  715.82319748, 1145.57164614, 1866.64648837,
       1098.08378783,  627.92014061, 1041.50250984, 2790.3025134 ,
        628.93052058, 1121.82771698, 1090.00074812, 1986.88170409,
       1041.50250984, 1036.9558    , 1449.02259929, 1091.01112808,
       1040.99731986,  483.51991878, 1036.45061002,  627.92014061,
       1038.97655993, 1095.55783792, 1039.9869399 ,  627.41495063,
       1042.00769982, 1042.51288981,  617.81634097, 1158.20139569,
        627.41495063,  833.44835027,  484.02510876, 1957.07549515,
        618.32153095, 1915.64991663, 1035.44023006, 1950.50802539,
       1092.52669803, 1091.51631806,  836.98468015,  726.93737709,
       1118.79657709, 1442.45512952, 1139.00417637,  624.38381074,
       1125.36404686, 1039.9869399 ,  627.41495063,  726.93737709,
       1037.46098999,  674.90280894, 1081.9177084 , 1042.51288981,
       1039.9869399 ,  718.85433738,  829.9120204 , 1858.56344866,
       1111.72391734, 1103.13568765, 1452.05373918, 1862.09977854,
       1029.88314026, 1125.36404686,  678.9443288 , 1041.50250984,
       1087.47479821, 1034.93504008, 1035.44023006, 1039.9869399 ,
        691.57407835, 1921.71219641,  678.43913881, 1854.01673882,
        627.92014061,  692.07926833,  710.77129766,  628.93052058,
       1110.71353738, 1039.9869399 , 1040.49212988,  833.95354025,
        627.41495063,  730.47370696, 1874.2243381 , 2020.22424291,
       2004.05816348,  627.92014061,  627.41495063, 1874.2243381 ,
       1104.14606761, 1087.47479821, 6978.66596382,  836.98468015,
       1131.93151662,  710.77129766, 1121.322527  , 1042.51288981,
        630.9512805 , 1103.64087763, 1865.13091843, 1551.57616564,
       1042.00769982, 1039.9869399 ,  726.93737709, 1171.8415252 ,
        417.34003113, 1043.01807979, 1859.06863864,  625.3941907 ,
        617.81634097,  710.77129766,  740.5775066 , 1043.52326977,
       1103.64087763, 1865.13091843, 1910.59801681, 1039.9869399 ,
        956.71470588, 3554.31850411, 1097.57859785,  626.40457067,
       1862.09977854, 1914.63953667, 1453.06411914, 1034.93504008,
       2062.15501141, 1951.51840535, 1859.57382863, 1039.9869399 ,
        482.50953881,  627.41495063, 1867.15167836, 1187.50241465,
       1126.37442682, 1043.01807979, 1106.67201752,  710.77129766,
       1983.8505642 , 1040.49212988, 1035.44023006,  921.35140714,
       1876.24509803, 1040.99731986,  625.89938068,  627.41495063,
       1950.50802539, 1133.95227655, 1036.9558    ,  715.82319748,
       1092.02150804, 1130.92113666,  521.91435741, 1041.50250984,
        834.45873024, 1039.9869399 ,  712.28686761, 1252.16673234,
       1127.88999677, 1087.97998819, 1040.49212988, 1861.59458855,
        699.15192808, 1161.23253558, 1864.12053846, 1084.44365831,
        699.15192808, 3525.01748515, 1044.02845975, 1452.05373918,
       1102.12530768,  627.41495063, 1162.74810553, 1867.65686834,
       1107.68239749,  627.41495063,  726.93737709,  720.8750973 ,
       1093.03188801,  919.33064722,  679.95470876,  627.41495063,
       2073.26919102, 1131.93151662,  627.92014061, 1123.34328693,
       1083.93846833,  624.88900072, 1038.47136995, 1098.08378783,
       1035.94542004, 1036.9558    ,  687.02736851, 1039.48174991,
       1159.71696563, 1957.07549515, 2029.31766258, 1092.02150804,
        628.42533059,  750.68130624, 1083.93846833])

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [283]:
predictions_submit = model.predict(X_pred[["Ram", "Weight"]])
predictions_submit

array([1092.02150804,  623.87862076,  417.84522111, 1162.74810553,
        416.32965117,  627.92014061,  617.81634097, 2015.17234309,
       1865.13091843, 1041.50250984, 1122.83809695, 1111.21872736,
       1040.49212988, 1039.9869399 ,  713.29724757, 1121.82771698,
       1090.00074812, 1951.51840535,  627.92014061, 1039.9869399 ,
       1037.46098999, 1164.76886545,  732.49446689, 1125.36404686,
        710.77129766, 1087.97998819,  933.47596671, 1043.01807979,
        627.92014061, 1041.50250984, 1130.92113666, 1029.88314026,
        834.96392022, 1040.99731986, 1038.97655993, 1081.9177084 ,
       1038.97655993, 1036.9558    , 1126.8796168 , 1921.71219641,
       1874.72952809, 1041.50250984,  690.0585084 , 1098.08378783,
       1039.48174991, 2001.53221357, 1152.64430589, 1854.52192881,
       1161.73772556, 1992.94398388,  733.50484685,  730.47370696,
       1142.03531626, 1123.84847691,  627.92014061,  719.86471734,
       1040.99731986,  679.95470876, 1096.56821788, 1036.45061002,
        627.92014061, 1042.00769982, 1040.49212988,  628.93052058,
       1136.98341644, 1045.03883972, 1864.62572845, 2022.24500283,
       1139.00417637,  719.86471734,  626.40457067, 1098.08378783,
       3724.56752804, 1928.27966618, 1040.49212988, 1039.48174991,
        627.92014061, 1945.45612557, 1131.93151662, 1040.99731986,
        729.96851698, 1452.05373918, 1103.64087763, 1874.2243381 ,
       1166.78962538, 1148.60278603, 1034.93504008, 1036.9558    ,
        627.41495063, 1043.01807979, 1096.56821788, 1039.9869399 ,
        617.81634097, 1914.63953667, 1038.47136995, 1037.96617997,
       1131.93151662,  710.77129766,  626.40457067,  627.41495063,
       1129.40556671, 1038.47136995, 1132.43670661,  626.40457067,
       2017.19310301,  726.93737709, 1864.62572845, 1038.47136995,
       1865.63610841, 1123.84847691, 1097.57859785,  651.66406977,
       1097.57859785, 1867.65686834, 1104.14606761, 1098.08378783,
       1098.08378783, 2895.88721964,  711.27648765, 1098.08378783,
        932.97077673, 1037.46098999, 1874.72952809, 1034.42985009,
        726.93737709, 1131.93151662,  617.81634097,  674.90280894,
        680.45989874, 1035.44023006,  627.41495063, 1039.9869399 ,
       1040.99731986,  753.71244613,  651.66406977, 1859.06863864,
       1859.57382863, 1975.76752449, 1939.39384578, 1117.28100714,
       1036.9558    , 1040.49212988,  720.36990732, 2015.17234309,
       1962.63258496,  627.92014061, 2076.30033091, 1040.99731986,
       1040.49212988, 1121.82771698, 1972.23119461, 1030.18170754,
       1090.00074812,  494.1289084 , 1935.35232593, 1039.9869399 ,
       1098.58897781,  628.93052058, 1034.42985009, 1549.55540571,
       3677.58485972, 1039.9869399 , 1148.09759605,  726.93737709,
       1122.83809695, 3524.51229517, 1034.42985009, 1040.99731986,
        679.95470876, 1029.88314026,  712.79205759,  834.45873024,
        834.96392022,  710.26610768, 1869.17243828,  617.81634097,
       1042.51288981, 1035.94542004, 1096.56821788,  622.86824079,
       1148.09759605, 1865.63610841, 1040.49212988, 1039.9869399 ,
       1044.02845975, 1040.49212988,  622.86824079,  629.94090054,
        624.38381074, 1038.97655993, 1037.46098999,  628.42533059,
        685.00660858,  715.82319748, 1145.57164614, 1866.64648837,
       1098.08378783,  627.92014061, 1041.50250984, 2790.3025134 ,
        628.93052058, 1121.82771698, 1090.00074812, 1986.88170409,
       1041.50250984, 1036.9558    , 1449.02259929, 1091.01112808,
       1040.99731986,  483.51991878, 1036.45061002,  627.92014061,
       1038.97655993, 1095.55783792, 1039.9869399 ,  627.41495063,
       1042.00769982, 1042.51288981,  617.81634097, 1158.20139569,
        627.41495063,  833.44835027,  484.02510876, 1957.07549515,
        618.32153095, 1915.64991663, 1035.44023006, 1950.50802539,
       1092.52669803, 1091.51631806,  836.98468015,  726.93737709,
       1118.79657709, 1442.45512952, 1139.00417637,  624.38381074,
       1125.36404686, 1039.9869399 ,  627.41495063,  726.93737709,
       1037.46098999,  674.90280894, 1081.9177084 , 1042.51288981,
       1039.9869399 ,  718.85433738,  829.9120204 , 1858.56344866,
       1111.72391734, 1103.13568765, 1452.05373918, 1862.09977854,
       1029.88314026, 1125.36404686,  678.9443288 , 1041.50250984,
       1087.47479821, 1034.93504008, 1035.44023006, 1039.9869399 ,
        691.57407835, 1921.71219641,  678.43913881, 1854.01673882,
        627.92014061,  692.07926833,  710.77129766,  628.93052058,
       1110.71353738, 1039.9869399 , 1040.49212988,  833.95354025,
        627.41495063,  730.47370696, 1874.2243381 , 2020.22424291,
       2004.05816348,  627.92014061,  627.41495063, 1874.2243381 ,
       1104.14606761, 1087.47479821, 6978.66596382,  836.98468015,
       1131.93151662,  710.77129766, 1121.322527  , 1042.51288981,
        630.9512805 , 1103.64087763, 1865.13091843, 1551.57616564,
       1042.00769982, 1039.9869399 ,  726.93737709, 1171.8415252 ,
        417.34003113, 1043.01807979, 1859.06863864,  625.3941907 ,
        617.81634097,  710.77129766,  740.5775066 , 1043.52326977,
       1103.64087763, 1865.13091843, 1910.59801681, 1039.9869399 ,
        956.71470588, 3554.31850411, 1097.57859785,  626.40457067,
       1862.09977854, 1914.63953667, 1453.06411914, 1034.93504008,
       2062.15501141, 1951.51840535, 1859.57382863, 1039.9869399 ,
        482.50953881,  627.41495063, 1867.15167836, 1187.50241465,
       1126.37442682, 1043.01807979, 1106.67201752,  710.77129766,
       1983.8505642 , 1040.49212988, 1035.44023006,  921.35140714,
       1876.24509803, 1040.99731986,  625.89938068,  627.41495063,
       1950.50802539, 1133.95227655, 1036.9558    ,  715.82319748,
       1092.02150804, 1130.92113666,  521.91435741, 1041.50250984,
        834.45873024, 1039.9869399 ,  712.28686761, 1252.16673234,
       1127.88999677, 1087.97998819, 1040.49212988, 1861.59458855,
        699.15192808, 1161.23253558, 1864.12053846, 1084.44365831,
        699.15192808, 3525.01748515, 1044.02845975, 1452.05373918,
       1102.12530768,  627.41495063, 1162.74810553, 1867.65686834,
       1107.68239749,  627.41495063,  726.93737709,  720.8750973 ,
       1093.03188801,  919.33064722,  679.95470876,  627.41495063,
       2073.26919102, 1131.93151662,  627.92014061, 1123.34328693,
       1083.93846833,  624.88900072, 1038.47136995, 1098.08378783,
       1035.94542004, 1036.9558    ,  687.02736851, 1039.48174991,
       1159.71696563, 1957.07549515, 2029.31766258, 1092.02150804,
        628.42533059,  750.68130624, 1083.93846833])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [284]:
sample = pd.read_csv("data/sample_submission.csv")

In [285]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [286]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [287]:
submission = pd.DataFrame({"laptop_ID": sample["laptop_ID"], "Price_euros": predictions_submit})

In [288]:
submission.head()

   laptop_ID  Price_euros
0        750  1092.021508
1        726   623.878621
2        633   417.845221
3        363  1162.748106
4        319   416.329651

In [289]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [291]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [292]:
chequeator(submission)

You're ready to submit!